</table>
&nbsp;<p>
<table style="font-family:arial,helvetica,sans-serif; font-size:4;">
  <tr><td>NTP Server Konfiguration prüfen:</td><td><b>show run | i ntp </b></td></tr>
  <tr><td>&nbsp;</td><td><b>show access-lists</b></td></tr>
  <tr><td>&nbsp;</td><td><b>show ntp status</b></td></tr>
  <tr><td>bzw. NTP Konfiguration einspielen mittels ansible-playbook:</td><td><b>tasks/set_ntp_config.yml</b></td></tr>
</table>
&nbsp;<p>
<hr style="height:3px">
