<h2 id="{{ current_check }}">Cisco IOS Version Compliance - Report</h2>

<table class="TFtable">
	<tr><th>Switch</th><th>Modell</th><th>Aktuelle-Version</th><th>Freigegebene-Version</th><th>Uptime</th><th>Reboot-Grund</th></tr>
