</table>
&nbsp;<p>
<table style="font-family:arial,helvetica,sans-serif; font-size:4;">
  <tr><td>Konfigurieren der korrekten Client-Port Einstellung mittels ansible-playbook:</td><td><b>set_client_ports_config.yml</b></td></tr>
  <tr><td>bzw. anpassen der Konfigurationsdaten in host_vars:</td><td><b>conf_client_ports.yml</b></td></tr>
</table>
&nbsp;<p>
<hr style="height:3px">
