</table>
&nbsp;<p>
<table style="font-family:arial,helvetica,sans-serif; font-size:4;">
  <tr><td>Einschalten mit folgendem Kommando:</td><td><b>dot1x system-auth-control</b></td></tr>
  <tr><td>bzw. einspielen der ISE konfiguration mittels ansible-playbook:</td><td><b>tasks/set_ise_config.yml</b></td></tr>
</table>
&nbsp;<p>
<hr style="height:3px">
