<h2 id="{{ current_check }}">Freie Client-Switchports - Report</h2>

<table class="TFtable">
	<tr><th>Switch</th><th>Standort</th><th>Port-Anzahl</th><th>Davon-Frei</th><th>Frei %</th><th>Zeitraum</th></tr>
