flow record STEALTHWATCH_NETFLOW
 description NetFlow record format to send to StealthWatch
 match datalink mac source address input
 match datalink mac destination address input
{% if not config_group in ['C2960', 'C3560'] %}
 match datalink vlan input
 match interface input
 collect timestamp absolute last
 collect timestamp absolute first
 match ipv4 ttl
{% endif %}
 match ipv4 tos
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 collect interface output
 collect counter bytes long
 collect counter packets long
!
flow exporter STEALTHWATCH_SCVSWFLOW01
 description Export NetFlow to StealthWatch
 destination {{ flowcollector_destination }}
 source Vlan{{ management_vlan_id }}
!
flow monitor IPv4_STEALTHWATCH_NETFLOW
 exporter STEALTHWATCH_SCVSWFLOW01
 cache timeout active 60
 record STEALTHWATCH_NETFLOW
!
{% if config_group in ['C3560'] %}
sampler STEALTHWATCH_NETFLOW_SAMPLER
 mode random 1 out-of 500
 description Sample at 0,2%
!
{% endif %}
