-----------------------------------------------------------------------------------------------
{% set date_time = ('' ~ template_run_date).split('.')[0] %}
NTP SYNC - Report vom {{ date_time }}

{{ '%-15s %-30s' | format('Switch', 'NTP Synchronisations-Status') }}
--------------+------------------------------