</table>
&nbsp;<p>
<table style="font-family:arial,helvetica,sans-serif; font-size:4;">
  <tr><td>Stack-MAC persistent konfigurieren:</td><td><b>stack-mac persistent timer 0</b></td></tr>
</table>
&nbsp;<p>
<hr style="height:3px">
