--------------------------------------------------------------------------------------------------
{% set date_time = ('' ~ template_run_date).split('.')[0] %}
Report vom {{ date_time }}
--------------------------------------------------------------------------------------------------
